@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans:
    "Nunito", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";


  --color-primary-teal: #007f73;        /* Botões, links ativos, destaques */
  --color-corporate-slate: #2c3e50;     /* Textos principais, títulos, sidebar */
  --color-metallic-silver: #95a5a6;     /* Textos secundários, bordas */

  --color-background-light: #f4f6f7;    /* Fundo geral da aplicação */
  --color-surface-white: #ffffff;       /* Cards, formulários, modais */
  --color-success-green: #27ae60;       /* Status positivo */
  --color-error-red: #e74c3c;            /* Erros, ações destrutivas */
}

html,
body,
#root {
  font-family: var(--font-sans);
  height: 100%;
}

body {
  background-color: var(--color-background-light);
  color: var(--color-corporate-slate);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}
